<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"2.5rem","right":"clamp(1rem,4vw,4rem)","bottom":"2.5rem","left":"clamp(1rem,4vw,4rem)"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-top:2.5rem;padding-right:clamp(1rem,4vw,4rem);padding-bottom:2.5rem;padding-left:clamp(1rem,4vw,4rem)"><!-- wp:shortcode -->
[retaguide_breadcrumbs]
<!-- /wp:shortcode -->

<!-- wp:query {"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date"}} -->
<div class="wp-block-query"><!-- wp:post-template {"layout":{"type":"grid","columnCount":2}} -->
<!-- wp:group {"style":{"spacing":{"blockGap":"0.5rem"}},"backgroundColor":"off-white","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-off-white-background-color has-background"><!-- wp:post-title {"isLink":true,"fontSize":"lg"} /-->

<!-- wp:post-date {"fontSize":"sm"} /-->

<!-- wp:post-excerpt {"moreText":"Continue reading"} /-->

<!-- wp:post-terms {"term":"category","fontSize":"sm"} /--></div>
<!-- /wp:group -->
<!-- /wp:post-template -->

<!-- wp:query-no-results -->
<!-- wp:paragraph -->
<p>No content found.</p>
<!-- /wp:paragraph -->
<!-- /wp:query-no-results -->

<!-- wp:query-pagination {"layout":{"type":"flex","justifyContent":"space-between"}} -->
<!-- wp:query-pagination-previous /-->

<!-- wp:query-pagination-numbers /-->

<!-- wp:query-pagination-next /-->
<!-- /wp:query-pagination --></div>
<!-- /wp:query --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
